body {
  background-color: grey;
}

.container {
  border-radius: 5px;
  width: 640px;
  margin: 0 auto;
  background-color: white;
  padding: 5px 20px 10px;
}

h1, h3 {
  font-family: Georgia;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 5px;
}

h3 {
  font-size: 1.05em;
  margin: 0 0 15px;
  color: #444;
}

.controls {
  padding: 5px 0;
  overflow: hidden;
}

.controls .zoom-controls {
  float: right;
}

#zoom-slider {
  margin-left: 10px;
  width: 200px;
  float: right;
}
